* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
  }

.card-header {
    background-color: #623390 !important;
}

.card {
    border-color: #1685d3 ;
    border-radius: 3px;
}