* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
  }

.navbar {
    background-color: #623390 !important;
}

.navbar span{
    color: #cfebfd !important;
}

.adm{
    color: #cfebfd !important;
}

#itens ul li span {
    color: #623390 !important;
}

#itens ul li .adm {
    color: #cfebfd !important;
}


#itens a {
    color: #cfebfd !important;
}

.principal {
    color: #1685d3;
}
